.btn {
    margin-left: 12px;
}
.listItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 24px;
    padding: 6px;
    font-size: 24px;
}

.listItems:hover {
    background-color: #ff9797;
    border-radius: 6px;
}
.close {
    color: red;
    text-decoration: line-through;
}
.filter {
    display: flex;
    justify-content: center;

}
.filterBtn {
    margin-top: 24px;
}
.itemsList {
    width: 100%;
    max-width: 350px;
    max-height: 250px;
    word-break:break-all;
    flex-flow: row wrap;
}